{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}


{% block body %}

    <main class="addEventMain">
        
        {{ form_start(formAddEvent) }}
        
        <h1> <strong>Création d'un évènement</strong> </h1> 

        <div class="title">
            {{ form_row(formAddEvent.title) }}
        </div>

        <div class="inputDate">

            {{ form_row(formAddEvent.startDate) }}

            {{ form_row(formAddEvent.endDate) }}
        
        </div>

        <div class="fullAddress">

            {{ form_row(formAddEvent.address) }}

            {{ form_row(formAddEvent.town) }}

            
        </div>
        
        <div class="nbPlaces">
            
            {{ form_row(formAddEvent.zipCode) }}

            {{ form_row(formAddEvent.maxPlaces) }}
            
        </div>

        <div class="description">

            {{ form_row(formAddEvent.description) }}

        </div>

        <div>

            {{ form_row(formAddEvent.submit) }}

        </div>

        {{ form_end(formAddEvent) }}
    </main>
{% endblock %}