{% block stylesheets %}

    <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/eventStyles/event.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}


{{ form_start(form) }}


    {{form_row(form.q)}}
    
    <div class="row">
        <div class="col-md-6">
            {{form_row(form.town)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.zipCode)}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            {{form_row(form.startDate)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.endDate)}}
        </div>
    </div>

    <div class="btnFilter"> 
        <button type="submit" class="btn btn-primary w-25 ">Filtrer</button>
        <button type="submit" class="btn btn-secondary w-25"> <a href='{{ path('list_events')}}' class="resetFilter"> Rénitialiser le filtre </a> </button>
    </div>

{{ form_end(form) }}