{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/eventStyles/event.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body %}

<main class="example-wrapper">

    <h1>Je suis dans la liste des évènements ✅</h1>

    <div class="row filter-flash">
        <div class="col-md-12">
            {% include 'event/filter.html.twig' with {form: form} only %}     
        </div>

        {# Affichage d'un message d'erreur si le resultat de la recherche est vide #}
        <div class="sendMessage">
    
            {% for warning in app.flashes('warningSearch') %}
    
                <div class="alert alert-warning" role="alert">{{ warning }}</div>
    
            {% endfor %}
            
        </div>
    </div>

    
    <div class="mesCartes">
{# 
        {% for actualEvent in actualEvents %}
            {{ dump(actualEvent) }}
        {% endfor %} #}

        {% for actualEvent in actualEvents %}

            {# div contenant l'ensemble des informations d'un évènement #}
            <div class="card">

                {# div contenant l'ensemble des infos global d'un évènement (Avatar du créateur, pseudonyme, titre et description) #}
                <div class="ContaintInfosGlobalEvent">

                    {# Infos du user, pseudonyme et avatar #}
                    <div class="infosUser">
                        <figure class="avatarUserCreator">
                            <img id="edit_profil_avatar_preview" src="{{ asset('img/avatars/' ~ actualEvent.userCreator.avatar) }}" class="avatar" alt="Image de profil de l'utilisateur !">
                        </figure>
                        <p>{{actualEvent.userCreator.pseudonyme}}</p>
                    </div>

                    {# Infos de l'évènement, titre et description #}
                    <div class="infosEvent">
                        <h3>{{actualEvent.title}}</h3>
                        <p>{{actualEvent.description}}</p>
                    </div>

                </div>

                {# div contenant les information suplementaire à l'évènement (lieu, adresse, nombre de place, nombre d'inscrit) #}
                <div class="containtInfosAppointment">

                    {# Infos concernant le lieu et la date du rendez-vous #}
                    <div class="appointment">
                        <h4>Lieu du rendez-vous</h4>
                        
                    
                        <p>Date : du {{ actualEvent.startDate|date('d/m/Y à H:i') }} <br> au {{ actualEvent.endDate|date('d/m/Y à H:i') }}</p>
                        <p>Heure : de {{actualEvent.startDate|date('H:i')}} à {{actualEvent.endDate|date('H:i')}} </p>
                        {# Ce if permet d'afficher l'adresse precise uniquement si l'utilisateur est inscrit à l'évènement ou si c'est l'organisateur de cet évènement #}
                        {% if app.user in actualEvent.users or app.user == actualEvent.userCreator %}
                            <p>Adresse : {{actualEvent.address}}</p>
                        {% endif %}
                        <p>Ville : {{actualEvent.town}}</p>
                        <p>Code postal : {{actualEvent.zipCode}}</p>
                    </div>

                    {# Infos concernant le nombre de place dispo et le nombre d'inscrit #}
                    <div class="nbPlacesEvent">
                        <h4>Infos</h4>

                        <p>Nombre de place disponible : {{ actualEvent.nbSeatsAvailable }} / {{ actualEvent.maxPlaces }}</p>
                        <p>Nombre d'inscrit : {{actualEvent.nbRegistered}}</p>
                    </div>

                </div>
    
                {# Contient les bouttons d'action lié à un évènement (Inscription, désinscription, modification, suppression) #}
                <div class="buttonsEvent">

                    {# Si il y a un user en session on lui offre la possibilité de s'inscrire et/ou de se désinscrire d'un évènement #}
                    {% if app.user  %}         
    
                        {# Si le user en session ce trouve dans la liste des user participant à un événement il peut ce désinscrire  #}
                        {% if app.user in actualEvent.users %}
                    
                            <a href="{{ path('unsub_event', {'id': actualEvent.id} )}}" class="btn btn-warning">Désinscription</a>
                            <a href="{{ path('app_post', {'id': actualEvent.id} )}}" class="btn btn-primary">Conversation</a>
    
                        {# si l'id de l'user en session et == à l'id de l'utilisateur eyant créé l'évènement il peut modifier ou supprimer ce dernier #}
                        {% elseif app.user.id == actualEvent.userCreator.id %}
                    
                            <a href="{{ path('edit_event', {'id': actualEvent.id} )}}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('delete_event', {'id': actualEvent.id} )}}" class="btn btn-danger">Supprimer</a>
                                                        
                        {# Sinon, si le user en session n'est pas dans la liste des users participant à l'événement et qu'il n'est pas le createur il peut s'inscrire #}
    
                        {# Permet de compter le nombre d'utilisateurs inscrit à l'évènement si celui-çi est égale à maxPlace on affiche évènement complet #}
                        {% elseif actualEvent.users|length == actualEvent.maxPlaces %}
    
                            <p class="text-danger">L'évènement est complet</p> 
    
                        {% else %}
    
                            <a href="{{ path('registration_event', {'id': actualEvent.id} )}}" class="btn btn-primary">Inscription</a>  
                                        
                        {% endif %}
    
                    {# Sinon si le user n'est pas en session on le renvoie au formulaire de connection au site #}
                    {% else %}
    
                        <a href="{{ path('app_login')}}" class="btn btn-success"> Connectez-vous</a>
    
                    {% endif %}

                </div>

            </div>

        {% endfor %}
            
    </div>

    {# Pagination #}
    <div id="navPagination">
        {{ knp_pagination_render(actualEvents) }}
    </div>

</main>
{% endblock %}