{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />

    <link href="{{ asset('css/formStyles/editProfil.css') }}" type="text/css" rel="stylesheet">

{% endblock %}

{% block body %}

<main>

    <h1>Modification du profil de {{ app.user.pseudonyme}} </h1>

    {{ form_start(formEditProfil) }}
    <div class="containt">
        <figure>
            <img src="{{ asset('img/avatars/' ~ app.user.avatar) }}" class="avatar" alt="Image de profil de l'utilisateur !">
        </figure>
    </div>

    <div class="inputs">
        <div class="email-pseudo">
            {{ form_row(formEditProfil.email) }}


            {{ form_row(formEditProfil.pseudonyme) }}
        </div>
        <div>
            {{ form_row(formEditProfil.phoneNumber) }}
        </div>
        <div>
            {{ form_row(formEditProfil.avatar) }}
        </div>
        <div>
            {{ form_row(formEditProfil.submit) }}
        </div>

        <a href="{{ path('delete_account')}}">Supprimer votre compte</a>
    </div>

    {{ form_end(formEditProfil) }}




</main>

{% endblock %}