{% block stylesheets %}

    {# <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/eventStyles/event.css') }}" type="text/css" rel="stylesheet" /> #}

{% endblock %}


<div class="containtFilter">

    <h1>Filtrer les évènements</h1>

    {{ form_start(form) }}
    
        {# Champ du filtre concernant la saisi "libre" #}
        {{form_row(form.userCreator)}}
        
        {# Champs concernant les bouttons #}
        <div class="btnFilter"> 
            <button type="submit" class="btn btn-primary w-25 ">Filtrer</button>
            <button type="submit" class="btn btn-secondary w-25"> <a href='{{ path('list_events')}}' class="resetFilter"> Rénitialiser le filtre </a> </button>
        </div>
    
    {{ form_end(form) }}

</div>