{% extends 'base.html.twig' %}

{% block title %} Panel admin | {{app.user.pseudonyme}} | liste des évènements  {% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/adminStyles/admin.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}


{% block body %}

<h1>Je suis dans la liste des évènements</h1>

    <main class="mainAdminEvents">

        <h1>Ma magnificence {{app.user.pseudonyme}}</h1>

        <p>Vous retrouverez ici la liste complète des évènement enregistré sur le site web</p>

        <table class="table table-striped border">
            <thead>
                <tr>
                    <th scope="col">Créateur</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de création </th>
                    <th scope="col">Date de début </th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Description</th>
                    <th scope="col">Nombre de place</th>
                    <th scope="col">Nombre d'inscrit</th>
                    <th scope="col">Liste des utilisateurs inscrits</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.userCreator.pseudonyme }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.creationDate|date('d/m/Y')}}</td>
                        <td>{{ event.startDate|date('d/m/Y')}}</td>
                        <td>{{ event.endDate|date('d/m/Y')}}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.maxPlaces }}</td>
                        <td>{{ event.nbRegistered}}</td>
                        <td>
                            {% if event.users|length > 0  %}

                                {% for user in event.users %}   

                                    <li> {{user.pseudonyme}} </li>      

                                {% endfor %}

                            {% else %}

                                Aucun inscrit pour cet évènement

                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('admin_edit_event', {'id' : event.id}) }}">Editer</a>
                        </td>
                        
                        {# <td>
                            <a href="{{ path('edit_user', {'id' : user.id}) }}">Editer</a>

                            <a href dataIdUser="{{url('delete_user',{id:user.id}) }}" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="deleteBtn">Supprimer</a>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer le compte de l'utilisateur</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes vous certain de vouloir supprimer le compte ? <br>
                                            La suppression du compte et définitive
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" >
                                                <a href dataIdUser="{{url('delete_user',{id:user.id}) }}" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="dropdown-item deleteBtn removeUser">Supprimer</a>
                                            </button>
                                            <button type="button" class="btn btn-secondary">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td> #}
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </main>



{% endblock %}

{% block javascripts %}
    {# Script permetant à l'utilisateur d'avoir un aperçu de sont nouvelle avatar avant de l'avoir enregistré  #}
    <script src="{{ asset('js/previewAvatar.js')}}"></script>


    <script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous">
    </script>

    <script src="{{ asset('js/deleteModal.js')}}"></script>
    {{ encore_entry_script_tags('app') }}
    <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7d0ef989cc.js" crossorigin="anonymous"></script>
{% endblock %}