<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Link pour afficher le logo dans l'onglet du navigateur #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Link pour appliquer du bootstrap et les flash #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}



            <link href="{{ asset('css/layoutStyles/layout.css') }}" type="text/css" rel="stylesheet" />

            
            <link href="{{ asset('css/formStyles/editProfil.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('css/global.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/mediamoyen.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/mediapetit.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}


    </head>

    <body>
                                        {# PARTIE HEADER #}
        <header>

            
            
            <nav>
       
             

                {# Si le user est en session #}
                {% if app.user %}

                    <div class="groupInfos">
                        <figure>
                            <a class="parentLogo" href="{{ path('app_home')}}">
                                <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                            </a>
                        </figure>
                        <span class="pseudo">{{app.user.pseudonyme}}</span>
                    </div>
                    
        
                    <div class="groupButton">

                                 
              
                        {# Navigation donnant accès au panel administrateur uniquement si le user en session possede le ROLE_ADMIN #}
                        {% if is_granted('ROLE_ADMIN') %}

                            <div class="dropdown">
                                <button class="dropbtn">Admin</button>
                                <div class="dropdown-content">
                                    <a href='{{ path('admin_home')}}' class="linkHeaderNav" id="deco">Accueil</a>
                                    <a href="{{ path('admin_users')}}" > Liste des utilisateurs </a>
                                    <a href="{{ path('admin_events')}}"> Liste des évènements </a>
                                </div>
                            </div>
                        
                        {% endif %}

                        <div class="dropdown">
                            <button class="dropbtn">Évènements</button>
                            <div class="dropdown-content">
                                <a href='{{ path('list_events')}}' class="linkHeaderNav" id="deco">Liste des évènements</a>
                                <a href="{{ path('show_registration_list', {'id': app.user.id} )}}" > Vos inscriptions </a>
                                <a href="{{ path('show_organization_list', {'id': app.user.id} )}}"> Vos évènements </a>
                                <a href="{{ path('add_event')}}">Créer un évènement</a>
                            </div>
                        </div>
    
                        <div class="dropdown">
                            <button class="dropbtn">Profil</button>
                            <div class="dropdown-content">
                                <a href='{{ path('edit_profil')}}' >Modifier le profil</a>
                                <a href="{{ path('edit_password')}}"> Modifier mot de passe</a>
                                <a href="{{ path('show_history')}}"> Historique de vos participations</a>
                                <a href='{{ path('app_mailbox')}}' class="linkHeaderNav">Messages</a>
                            </div>
                        </div>
    
                        
                        <a href="{{ path('app_logout') }}" > <button class="button dropbtn"> Déconnexion</button> </a>
                        
                    </div>

              
    
                {# sinon si le user n'est pas en session #}
                {% else %}

                <div class="groupInfos">
                    <figure>
                        <a class="parentLogo" href="{{ path('app_home')}}">
                            <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                        </a>
                    </figure>
                </div>
                
                <div class="navGuest">
                    <a href="{{ path('list_events')}}" class="button dropbtn"> Liste des évènements </a>
                    <a href="{{ path('app_login') }}" class="button dropbtn"> Connexion </a>
                    <a href="{{ path('app_register') }}" class="button dropbtn"> Inscription </a>   
                </div>
                {% endif %}

             



                {# ! Menu burger #}

    
                {# Icone représentant le menu burger #}
                <div class="iconBurger">
                    <span></span>
                </div>


                <div class="navMobile">

                    {% if app.user %}

                    <div class="groupInfosBurger">
                        <figure>
                            <a class="parentLogo" href="{{ path('app_home')}}">
                                <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                            </a>
                            <figcaption> Space Odyssey </figcaption>
                        </figure>
                        <div class="userBurger">
                            <figure class="avatarUserBurger">
                                
                                <img class=" truc"id="edit_profil_avatar_preview" src="{{ asset('img/avatars/' ~ app.user.avatar) }}" class="avatar" alt="Image de profil de l'utilisateur !">
            
                            </figure>
                            <span class="pseudo">{{app.user.pseudonyme}}</span>

                        </div>
                    </div>

        
        
                    <div class="groupButtonBurger">

                                 
                    
                            {# Navigation donnant accès au panel administrateur uniquement si le user en session possede le ROLE_ADMIN #}
                            {% if is_granted('ROLE_ADMIN') %}

                                <div class="dropdown" id="admin">

                                    <div class="logoEntitled">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                                            <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                        <button class="dropbtnBurger">Admin</button>
                                    </div>  

                        
                                </div>

                                <div class="dropdownBurgerAdmin-content" >
                                    <a href='{{ path('admin_home')}}' class="linkHeaderNav" id="deco">Accueil</a>
                                    <a href="{{ path('admin_users')}}" > Liste des utilisateurs </a>
                                    <a href="{{ path('admin_events')}}"> Liste des évènements </a>
                                </div>
                            
                            {% endif %}

                            <div class="dropdown" id="event">

                                <div class="logoEntitled">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    <button class="dropbtnBurger">Évènements</button>
                                </div>
                                
                            </div>

                            <div class="dropdownBurgerEvent-content">
                                <a href='{{ path('list_events')}}' class="linkHeaderNav" id="deco">Liste des évènements</a>
                                <a href="{{ path('show_registration_list', {'id': app.user.id} )}}" > Vos inscriptions </a>
                                <a href="{{ path('show_organization_list', {'id': app.user.id} )}}"> Vos évènements </a>
                                <a href="{{ path('add_event')}}">Créer un évènement</a>
                            </div>

                            <div class="dropdown" id="profil">

                                <div class="logoEntitled">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                    </svg>
                                    <button class="dropbtnBurger">Profil</button>
                                </div>
                                
                            </div>

                            <div class="dropdownBurgerProfil-content">
                                <a href='{{ path('edit_profil')}}' >Modifier le profil</a>
                                <a href="{{ path('edit_password')}}"> Modifier mot de passe</a>
                                <a href="{{ path('show_history')}}"> Historique de vos participations</a>
                                <a href='{{ path('app_mailbox')}}' class="linkHeaderNav">Messages</a>
                            </div>

                            <div class="logoEntitled">

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                                </svg>
                                
                                <a href="{{ path('app_logout') }}" > <button class="button dropbtnBurger"> Déconnexion</button> </a>
                            </div>
                            
                            
                        </div>

                    

                    {# sinon si le user n'est pas en session #}
                    {% else %}

                    <div class="groupInfosBurger">
                        <figure>
                            <a class="parentLogo" href="{{ path('app_home')}}">
                                <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                            </a>
                        </figure>
                    </div>
                    
                    <div class="navGuestBurger">
                        <a href="{{ path('list_events')}}" class="button dropbtnBurger"> Liste des évènements </a>
                        <a href="{{ path('app_login') }}" class="button dropbtnBurger"> Connexion </a>
                        <a href="{{ path('app_register') }}" class="button dropbtnBurger"> Inscription </a>   
                    </div>
                    {% endif %}

                    

                    
                </div>

            
            </nav>

            <div class="mobileOverlay"></div>


        </header>







                                        {# PARTIE BODY #}

      
        <div class="containGeneralInBase">

            {# PARTIE POR AFFICHER LES FLASHES #}
            {# <div class="sendMessage">

                {% for message in app.flashes('message') %}
                
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                
                {% endfor %}
        
                {% for warning in app.flashes('warning') %}
        
                    <div class="alert alert-warning" role="alert">
                        {{ warning }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>

                {% endfor %}
                
            </div> #}
            
            {% block body %}

            {% endblock %}
            
        </div>



                                        {# PARTIE FOOTER #}

        <footer class="normalFooter">

            <figure class="blockFigureFooter">
                <a class="parentLogo" href="{{ path('app_home')}}">
                    <img src="{{ asset('img/logoNoir.png')}}" class="logoFooter" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                </a>
            </figure>

            <div class="containtLinks">

                <nav class="rules">

                    <h3>Conditions</h3>
    
                    <div class="linkRules">
                        <a href="#">CGU</a>
                        <a href="#">Reglement</a>
                        <a href="#">Nous contacter</a>
                    </div>
                </nav>
    
                <nav class="network">
    
                    <h3>Nos reseaux</h3>
    
                    <div class="linksNetwork">
                        <a href="https://twitter.com/" target="_blank"><strong></strong>Twitter</strong></a>
                        <a href="https://www.facebook.com/" target="_blank"><strong>Facebook</strong></a>
                        <a href="https://www.instagram.com/" target="_blank"><strong>Instagram</strong></a>
                        <a href="https://www.pinterest.fr/" target="_blank"><strong>Pinterest</strong></a>
                    </div>
                </nav>

                <nav class="planSite">
                    <h3>Liens du site</h3>

                    <div class="linksSite">
                        <a href="{{ path('app_home')}}">Accueil</a>
                        <a href="{{ path('list_events')}}">Liste des évènements</a>
                        <a href="{{ path('add_event')}}">Créer un évènement</a>
                        <a href="{{ path('app_login')}}">Connexion</a>
                        <a href="{{ path('app_register')}}">Inscription</a>
                    </div>
                </nav>

            </div>
            
            {# <p class="copyright"> © 2022 Tous droits réservés | Space Odyssey - Andre Kévin </p> #}
        </footer>

                                        {# PARTIE JAVASCRIPT #}                             

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/7d0ef989cc.js" crossorigin="anonymous"></script>
            <script src="{{ asset('js/menuBurger.js')}}"></script>
        {% endblock %}
        
        
    </body>

</html>
