<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Link pour afficher le logo dans l'onglet du navigateur #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Link pour appliquer du bootstrap et les flash #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}

            <link href="{{ asset('css/layout/layout.css') }}" type="text/css" rel="stylesheet" />

        {% endblock %}
    </head>

    <body>
                                        {# PARTIE HEADER #}
        <header>
            
            <nav>

                {# Si le user est en session #}
                {% if app.user %}

                    <div class="groupInfos">
                        <figure>
                            <a class="parentLogo" href="{{ path('app_home')}}">
                                <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                            </a>
                        </figure>
                        <span class="pseudo">{{app.user.pseudonyme}}</span>
                    </div>
                    
                    
                    <div class="groupButton">
    
                        {# Navigation donnant accès au panel administrateur uniquement si le user en session possede le ROLE_ADMIN #}
                        {% if is_granted('ROLE_ADMIN') %}

                            <div class="dropdown">
                                <button class="dropbtn">Admin</button>
                                <div class="dropdown-content">
                                    <a href='{{ path('admin_home')}}' class="linkHeaderNav" id="deco">Acceuil</a>
                                    <a href="{{ path('admin_users')}}" > Liste des utilisateurs </a>
                                    <a href="{{ path('admin_events')}}"> Liste des évènements </a>
                                    <a href="#"> 3 </a>
                                </div>
                            </div>
                        
                        {% endif %}

                        <div class="dropdown">
                            <button class="dropbtn">Évènements</button>
                            <div class="dropdown-content">
                                <a href='{{ path('list_events')}}' class="linkHeaderNav" id="deco">Liste des évènements</a>
                                <a href="{{ path('show_registration_list', {'id': app.user.id} )}}" > Vos inscriptions </a>
                                <a href="{{ path('show_organization_list', {'id': app.user.id} )}}"> Vos évènements </a>
                                <a href="{{ path('add_event')}}">Créer un évènement</a>
                            </div>
                        </div>
    
                        <div class="dropdown">
                            <button class="dropbtn">Profil</button>
                            <div class="dropdown-content">
                                <a href='{{ path('edit_profil')}}' >Modifier le profil</a>
                                <a href="{{ path('edit_password')}}"> Modifier mot de passe</a>
                                <a href='{{ path('app_messages', {'id': app.user.id} )}}' class="linkHeaderNav">Messages</a>
                            </div>
                        </div>
    
                        
                        <a href="{{ path('app_logout') }}" > <button class="button dropbtn"> Déconnexion</button> </a>
                         
                    </div>
                    
                {# sinon si le user n'est pas en session #}
                {% else %}

                <div class="groupInfos">
                    <figure>
                        <a class="parentLogo" href="{{ path('app_home')}}">
                            <img src="{{ asset('img/logo.png')}}" class="logo" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                        </a>
                    </figure>
                </div>
                
                <div class="navGuest">
                    <a href="{{ path('list_events')}}" class="button dropbtn"> Liste des évènements </a>
                    <a href="{{ path('app_login') }}" class="button dropbtn"> Connexion </a>
                    <a href="{{ path('app_register') }}" class="button dropbtn"> Inscription </a>   
                </div>
                {% endif %}
            </nav>

        </header>



                                        {# PARTIE POR AFFICHER LES FLASHES #}

        <div class="sendMessage">

            {% for message in app.flashes('message') %}
            
                <div class="alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            
            {% endfor %}
    
            {% for warning in app.flashes('warning') %}
    
                <div class="alert alert-warning" role="alert">
                    {{ warning }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>

            {% endfor %}
            
        </div>



                                        {# PARTIE BODY #}

      
            {% block body %}
                    
            {% endblock %}
 


                                        {# PARTIE FOOTER #}

        <footer class="normalFooter">

            <figure class="blockFigureFooter">
                <a class="parentLogo" href="{{ path('app_home')}}">
                    <img src="{{ asset('img/logoNoir.png')}}" class="logoFooter" alt="Logo du site représentant Saturne incrusté du non du site web: 'Space Odyssey'">
                </a>
            </figure>

            <div class="containtLinks">

                <nav class="rules">

                    <h3>Conditions</h3>
    
                    <div class="linkRules">
                        <a href="#">CGU</a>
                        <a href="#">Reglement</a>
                        <a href="#">Nous contacter</a>
                    </div>
                </nav>
    
                <nav class="network">
    
                    <h3>Nos reseaux</h3>
    
                    <div class="linksNetwork">
                        <a href="https://twitter.com/" target="_blank"><strong></strong>Twitter</strong></a>
                        <a href="https://www.facebook.com/" target="_blank"><strong>Facebook</strong></a>
                        <a href="https://www.instagram.com/" target="_blank"><strong>Instagram</strong></a>
                        <a href="https://www.pinterest.fr/" target="_blank"><strong>Pinterest</strong></a>
                    </div>
                </nav>

                <nav class="planSite">
                    <h3>Liens du site</h3>

                    <div class="linksSite">
                        <a href="{{ path('app_home')}}">Acceuil</a>
                        <a href="{{ path('list_events')}}">Liste des évènements</a>
                        <a href="{{ path('add_event')}}">Créer un évènement</a>
                        <a href="{{ path('app_login')}}">Connexion</a>
                        <a href="{{ path('app_register')}}">Inscription</a>
                    </div>
                </nav>

            </div>
            
            {# <p class="copyright"> © 2022 Tous droits réservés | Space Odyssey - Andre Kévin </p> #}
        </footer>

                                        {# PARTIE JAVASCRIPT #}                             

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        
    </body>

</html>
